// app global css in SCSS form
body.desktop {
  .q-focusable:focus, .q-manual-focusable--focused, .q-hoverable:hover {
    > .q-focus-helper {
      background: #0075FF;
      opacity: .5
    }
  }
}
.q-field {
  &--outlined {
    .q-field__control {
      &:before {
        border: 1px solid rgba(0,0,0,.24)
      }
      &:hover:after {
        border: 1px solid;
        border-color: #0075FF;
        box-shadow: 0 0 4px #0075FF;
      }
    }
    &.q-field--highlighted {
      .q-field__control:hover:before {
        border-color: transparent;
      }
      
      .q-field__control:after {
        border: 1px solid;
        border-color: #0075FF;
        box-shadow: 0 0 4px #0075FF;
      }
    }
  }
  &--dense {
    .q-field__control, .q-field__marginal {
      height: 32px;
    }
  }
}