@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "../css/quasar.variables.scss";

.q-field {
  &--outlined {
    .q-field__control {
      padding: 0 4px 0 8px;
      &:before {
        border: 1px solid rgba(0, 0, 0, 0.24);
      }
      &:hover:after {
        border: 1px solid;
        border-color: $positive;
        box-shadow: 0 0 4px $positive;
      }
    }
    &.q-field--highlighted {
      .q-field__control:hover:before {
        border-color: transparent;
      }
      .q-field__control:after {
        border: 1px solid;
        border-color: $positive;
        box-shadow: 0 0 4px $positive;
      }
    }
  }
  &--dense {
    .q-field__control,
    .q-field__marginal {
      height: 32px;
    }
  }
  &--auto-height {
    &.q-field--dense {
      .q-field__control,
      .q-field__native {
        min-height: 32px;
      }
    }
    .q-field__control-container {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &--disabled {
    .q-field__inner {
      background: $grey-11 !important;
      color: $grey-2 !important;
      cursor: not-allowed;
    }
  }
}

.q-textarea {
  .q-field__control {
    height: auto;
  }
}

.disabled {
  background: $grey-11 !important;
  color: $grey-2 !important;
  cursor: not-allowed;
}

.q-card {
  border-radius: 8px !important;
}
