$primary: #051D36;
$secondary: #555555;
$accent: #9C27B0;

$positive: #0075FF;
$negative: #e30000;
$info: #00CD52;
$warning: #F2C037;

$red-1: #220000;
$red-2: #440000;
$red-3: #5E0000;
$red-4: #820000;
$red-5: #AD0000;
$red-6: #E30000;
$red-7: #F42F2F;
$red-8: #FB5E5E;
$red-9: #FD9595;
$red-10: #FDC5C5;
$red-11: #FCE6E6;

$orange-1: #2F1100;
$orange-2: #4D1B00;
$orange-3: #752A00;
$orange-4: #9B3700;
$orange-5: #CE4900;
$orange-6: #FF5B00;
$orange-7: #FF7C34;
$orange-8: #FF9B63;
$orange-9: #FFBB96;
$orange-10: #FFBB96;
$orange-11: #FFD9C5;

$yellow-1: #3A2700;
$yellow-2: #5C3D00;
$yellow-3: #895A00;
$yellow-4: #895A00;
$yellow-5: #E19500;
$yellow-6: #FFA800;
$yellow-7: #FFBB00;
$yellow-8: #FBC83E;
$yellow-9: #F9D36D;
$yellow-10: #FBE3A2;
$yellow-11: #F6EDD3;

$green-1: #001D0B;
$green-2: #003013;
$green-3: #00461C;
$green-4: #006629;
$green-5: #007B31;
$green-6: #00973C;
$green-7: #00A944;
$green-8: #00CD52;
$green-9: #40DE7F;
$green-10: #87EDB0;
$green-11: #CDFADF;

$light-blue-1: #021A25;
$light-blue-2: #02212F;
$light-blue-3: #032D40;
$light-blue-4: #033F59;
$light-blue-5: #06587D;
$light-blue-6: #066D9B;
$light-blue-7: #128FC7;
$light-blue-8: #229FD7;
$light-blue-9: #50BFF0;
$light-blue-10: #A4E2FD;
$light-blue-11: #D9F2FD;

$blue-1: #001226;
$blue-2: #001B39;
$blue-3: #002B5E;
$blue-4: #004290;
$blue-5: #005CC9;
$blue-6: #0075FF;
$blue-7: #2D8DFF;
$blue-8: #64ABFF;
$blue-9: #93C4FF;
$blue-10: #BBDAFF;
$blue-11: #E6F1FF;

$indigo-1: #011428;
$indigo-2: #03172D;
$indigo-3: #051D36;
$indigo-4: #07284A;
$indigo-5: #004177;
$indigo-6: #025497;
$indigo-7: #006AC1;
$indigo-8: #1F8AE1;
$indigo-9: #5CB0F3;
$indigo-10: #9CD1FC;
$indigo-11: #D5EBFE;

$grey-1: #222222;
$grey-2: #333333;
$grey-3: #444444;
$grey-4: #555555;
$grey-5: #737373;
$grey-6: #888888;
$grey-7: #AAAAAA;
$grey-8: #CCCCCC;
$grey-9: #E1E1E1;
$grey-10: #EEEEEE;
$grey-11: #F6F6F6;

$th-bg: #f5faff;

$body-font-size: 12px !default; // 기준이 되는 font-size를 지정
$space-base: 16px !default;
$typography-font-family: 'Noto Sans KR' !default;

$generic-border-radius: 2px !default;

//button 고정
$button-border-radius: 4px !default;
$button-padding-sm: 4px 12px;
$button-padding-md: 4px 20px;

// 12px 기준
$default-font: 12px;
$default-font-weight: 400;
$default-line-height: 165%;
$default-content-height: 20px;
$default-height: 28px;
$default-content-size: 1.667em; // icon에 사용 20px
$default-icon-size: 1.334em; // 16px
$icon-size-sm: 1em; // 12px
$icon-size-md: 1.667em; // 20px

$line-height-md: 2.167em; // 26px
$double-line-height: 180%;
$default-icon-margin: 8px;
$between-margin-sm: 6px;
$between-margin-md: 8px;
$pagination-size: 26px;
$pagination-margin: 0 4px;

$caution-margin-left: 44px;
$table-tr-height: 40px;
$table-th-padding: 0 16px;
$table-td-padding: 0 12px;

// 16px 기준 (button md size)
$font-md: 16px !default;
$font-weight-md: 500;
$icon-size: 1.5em; // 24px

$font-weight-lg: 700;